@import 'main';

$white: #ffffff;
$black: #000000;
$silver: #efefef;
$gray: #666666;
$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;

$primary: $silver;
$secondary: $gray;

$piece-margin: 0.5rem;
$piece-margin-hover: 0.4rem;

table {
    margin: 5rem;
}

td {
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
    border: solid 1px $gray;
    position: relative;
}

.grid-available {
    border: solid 1px $green;
}

tr:nth-child(even) {
    td:nth-child(even) {
        background-color: $primary;
    }
    td:nth-child(odd) {
        background-color: $secondary;
    }
}

tr:nth-child(odd) {
    td:nth-child(even) {
        background-color: $secondary;
    }
    td:nth-child(odd) {
        background-color: $primary;
    }
}

a {
    display: block;
    background-color: $black;
    position: absolute;
    top: $piece-margin;
    left: $piece-margin;
    right: $piece-margin;
    bottom: $piece-margin;
    border-radius: 1em;
}

a.player0 {
    background-color: $white;
    box-shadow: 0px 0px 2px 1px $black;
    &:hover {
        box-shadow: none;
    }
}

a.player1 {
    background-color: $black;
    box-shadow: 0px 0px 2px 1px $silver;
    &:hover {
        box-shadow: none;
    }
}

a:hover {
    cursor: pointer;
    top: $piece-margin-hover;
    left: $piece-margin-hover;
    right: $piece-margin-hover;
    bottom: $piece-margin-hover;
}

.piece-selected {
    border: solid 1px $red;
}
